# Ignore Python bytecode and other artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Ignore virtual environments
venv/
.env/
.venv/
env/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore macOS specific files
.DS_Store

# Ignore Visual Studio Code specific files
.vscode/
*.code-workspace

# Ignore Docker specific files
docker-compose.override.yml
docker-compose.yml
.Dockerfile.swp

# Ignore build directories and logs
build/
dist/
*.log

# Ignore Bash specific files
*.swp
*.swo
*.bak

# Ignore pytest cache
.pytest_cache/
.coverage

# Ignore any other temporary files
*.tmp
*.temp
*.json
*.txt
